
/* Start Global rules */
* { 
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
:root { 
    --main-color: #2196d3;
    --main-color-alt: #1787e0;
    --section-background: #d2d2d2;
    --main-transition: 0.3s;
    --main-padding-section: 100px;
}
html { 
    scroll-behavior: smooth;
}
a { 
    text-decoration: none;
}
ul { 
    list-style: none;
    margin: 0;
    padding: 0;
}
body { 
    font-family: 'Open Sans', sans-serif;
}
.contanair { 
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    padding-bottom: 15px;
}

@media (min-width: 768px) { 
    .contanair { 
        width: 750px;
    }
}
@media (min-width: 992px) { 
    .contanair { 
        width: 970px;
    }
}
@media (min-width: 1200px) { 
    .contanair { 
        width: 1170px;
    }
}
/* End Global rules */

/* Start com */
.main-title {
    margin: 0px auto 80px;
    border: 2px solid black;
    padding: 10px 20px;
    font-size: 30px;
    width: fit-content;
    position: relative;
    z-index: 1;
    transition: var(--main-transition);
}
.main-title:hover { 
    color: white;
    border: 2px solid white;
    transition-delay: 0.5s;
}
.main-title:hover::before {
    z-index: -1;
    animation: left-move 0.5s linear forwards;
}
.main-title:hover::after {
    z-index: -1;
    animation: right-move 0.5s linear forwards;
}
.main-title::before,
.main-title::after {
    content: "";
    width: 12px;
    height: 12px;
    background-color: var(--main-color);
    position: absolute;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}
.main-title::before {
    left: -30px;
}
.main-title::after {
    right: -30px;
}
/* End com */
/* Start Header */
.header { 
background-color: white;
box-shadow: 0 0 10px #ddd;
-webkit-box-shadow: 0 0 10px #ddd;
-moz-box-shadow: 0 0 10px #ddd;
}
.header .contanair{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    flex-wrap: wrap;
}
.header .contanair .logo{
    color: var(--main-color);
    font-size: 26px;
    font-weight: bold;
    height: 74px;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width: 767px) {
    .header .contanair .logo{
    width: 100%;
    height: 50px;
    }
}
.header .main-nav {
    display: flex;
}
.header .main-nav > li:hover .mega-menu {
    opacity: 1;
    z-index: 100;
    top: calc(100% + 1px);
}
@media (max-width: 767px) {
    .header .main-nav {
    margin: auto;
    }
}
.header .main-nav > li > a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 74px;
    position: relative;
    color: black;
    padding: 0 30px;
    transition: var(--main-transition);
    overflow: hidden;
}
@media (max-width: 767px) {
    .header .main-nav > li > a {
        padding: 10px;
        font-size: 13px;
        height: 40px;
    }
}
.header .main-nav > li > a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: var(--main-color);
    top: 0;
    left: -100%;
    transition: var(--main-transition);
}
.header .main-nav > li > a:hover {
    background-color: #ddd;
    color: var(--main-color);
}
.header .main-nav > li > a:hover::before {
    left: 0;
}
.header .mega-menu {
    position: absolute;
    width: 100%;
    left: 0;
    padding: 30px;
    background-color: white;
    border-bottom: 3px solid var(--main-color);
    z-index: -1;
    display: flex;
    gap: 40px;
    top: calc(100% + 50px);
    opacity: 0;
    transition: top var(--main-transition), opacity var(--main-transition);
}
@media (max-width: 767px) {
    .header .mega-menu { 
        flex-direction: column;
        gap: 0;
        padding: 5px;
    }
}
.header .mega-menu .image img {
    max-width: 100%;
}
@media (max-width: 991px) {
    .header .mega-menu .image img {
        display: none;
    }
}
.header .mega-menu .links {
    min-width: 250px;
    flex: 1;
 }
.header .mega-menu .links li {
    position: relative;
}
.header .mega-menu .links li:not(:last-child) {
    border-bottom: 2px solid #e9e6e6;
}
@media (max-width: 767px) {
    .header .mega-menu .links:first-of-type li:last-child{ 
        border-bottom: 2px solid #e9e6e6;
    }
}
.header .mega-menu .links li::before { 
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0px;
    height: 100%;
    background-color: rgba(0, 153, 255, 0.121);
    z-index: -1;
    transition: var(--main-transition);
}
.header .mega-menu .links li:hover::before { 
    width: 100%;
}
.header .mega-menu .links li a { 
    color: var(--main-color);
    padding: 15px;
    display: block;
    font-size: 18px;
    font-weight: bold;
}
.header .mega-menu .links li a i {
    margin-right: 10px;
}

/* End Header */
/* Start Landing */
.landing {
    position: relative;
}
.landing::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #cdcdcd99;
    z-index: -2;
    transform: skewY(351deg);
    transform-origin: left top;
}
.landing .contanair {
    min-height: calc(100vh - 104px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 120px;
}
.landing .text { 
    flex: 1;
}
@media (max-width: 991px) {
    .landing .text {
        text-align: center;
    }
}
.landing .text h1 { 
    font-size: 40px;
    margin: 0;
    letter-spacing: -1px;
}
@media (max-width: 767px) {
    .landing .text h1 {
        font-size: 28px;
    }
}
.landing .text p {
    font-size: 20px;
    line-height: 1.6;
    margin: 5px 0 0;
    color: var(--main-color-alt);
    max-width: 500px;
}
@media (max-width: 991px) {
    .landing .text p {
        margin: 10px auto;
    }
}
.landing .image img { 
    width: 600px;
    animation-name: upanddown;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-timing-function: ease-out;
}

@media (max-width: 991px) {
    .landing .image img {
        display: none;
    }
}
.landing .go-down {
    color: var(--main-color);
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    transition: var(--main-transition);
    animation-name: nowdown;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: reverse;
    animation-timing-function: ease-out;
}
.landing .go-down:hover {
    color: var(--main-color-alt);
}
/* End Landing */
/* Start ARTICLES  */
.articles {
    padding-top: var(--main-padding-section);
    padding-bottom: var(--main-padding-section);
    position: relative;
    background-color: white;
}
.articles .contanair {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 40px;
}
.articles .contanair .box {
    box-shadow: 0 2px 15px #00000059;
    background-color: white;
    -webkit-box-shadow: 0 2px 15px #00000059;
    -moz-box-shadow: 0 2px 15px #00000059;
    border-radius: 6px;
    overflow: hidden;
    transition: transform var(--main-transition), box-shadow var(--main-transition);
}
.articles .contanair .box:hover { 
    transform: translateY(-10px);
    box-shadow: 0 2px 15px #000000ab;

}
.articles .contanair .box img {
    max-width: 100%;
    
}
.articles .contanair .box .content {
    padding: 20px;
    
}
.articles .contanair .box .content h3{
    margin: 0
}
.articles .contanair .box .content p{
    margin: 10px 0 0 0;
    line-height: 1.5;
    color: #777;
}
.articles .contanair .box .info {
    padding: 20px;
    border-top: 1px solid #e6e6e7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.articles .contanair .box .info a {
    color: var(--main-color);
    font-weight: bold;
    
}
.articles .contanair .box .info i {
    color: var(--main-color);
    font-weight: bold;
}
.articles .contanair .box:hover .info i {
    animation: moving-arrow 0.6s linear infinite;
}
/* End ARTICLES  */
/* Start Gallery */
.gallery { 
padding-top: var(--main-padding-section);
padding-bottom: var(--main-padding-section);
position: relative;
background-color: var(--section-background);
}

.gallery .contanair { 
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-gap: 40px;
}

.gallery .contanair .box { 
    padding: 15px;
    background-color: white;
    box-shadow: 0 12px 20px 0px rgb(0 0 0 / 38%), 0px 2px 4px 0px rgb(0 0 0 / 82%);
}
.gallery .contanair .box .image {
    position: relative;
    overflow: hidden;
}
.gallery .contanair .box .image:hover::before {
    animation: flashing 0.7s;
}

.gallery .contanair .box .image::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.349);
    width: 0px;
    height: 00px;
    opacity: 0;
    z-index: 2;
}
.gallery .contanair .box img { 
    max-width: 100%;
    transition: var(--main-transition);
}
.gallery .contanair .box:hover img {
    transform: rotate(5deg) scale(1.1);
}
/* End Gallery */
/* Start Features */
.features { 
    padding-top: var(--main-padding-section);
    padding-bottom: var(--main-padding-section);
    position: relative;
    background-color: white;
}
.features .contanair {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 60px
}
.features .contanair .box {
    text-align: center;
    border: 1px solid #ccc;

}
.features .contanair .box .img-holder {
    position: relative;
    overflow: hidden;
}
.features .contanair .box .img-holder::before {
    content: "";
    position: absolute;
    bottom: 0px;
    right: 0;
    border-style: solid;
    border-width: 0px 370px 170px 600px;
    border-color: transparent transparent white transparent;
    display: none;
}
.features .contanair .box:hover .img-holder::before{ 
    display: block;
}
.features .contanair .box:hover .img-holder::after{ 
    display: none;
}
.features .contanair .box .img-holder::after {
    content: "";
    position: absolute;
    bottom: 0px;
    right: 0;
    border-style: solid;
    border-width: 0px 0px 170px 600px;
    border-color: transparent transparent white transparent;
}
.features .contanair .box .img-holder img {
    max-width: 100%;
}

.features .contanair .box h2 {
    margin: 10px auto 150px;
    font-size: 29px;
    text-align: center;
}
.features .contanair .box p {
    margin: 10px auto 150px;
    height: 140px;
    font-size: 20px;
}
.features .contanair .box a {
    font-size: 32px;
    border: 1px solid black;
    position: relative;
    left: 0px;
    bottom: 30px;
    transform: translateX(-50%);
    padding: 10px 10px;
    overflow: hidden;
    transition: var(--section-background);
}
.features .contanair .box a:hover{
    background-color: var(--main-color);
    color: white;
    border: 1px solid white; 
}
/* End Features */

/* start testimonilas */
.testimonilas { 
padding-top: var(--main-padding-section);
padding-bottom: var(--main-padding-section);
background-color: var(--section-background);
}
.testimonilas .contanair { 
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 80px;
}
.testimonilas .contanair .box{ 
    display: flex;
    position: relative;
    background-color: white;
    box-shadow: 0px 0px 3px 4px #63636338;
    padding: 10px 10px;
    border-radius: 7%;
}
.testimonilas .contanair .box .image img{ 
    max-width: 100%;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    right: -25px;
    top: -40px;
    border: 12px solid var(--section-background);
}
.testimonilas .contanair .box .content {
    flex: 1;
}
.testimonilas .contanair .box .content h3 { 
    margin: 0;
    font-size: 22px;
    font-weight: bold;
    LINE-HEIGHT: 1.2;
}
.testimonilas .contanair .box .content p { 
    font-size: 15px;
    color: #ccc;
    line-height: 1.5;
    font-weight: 400;
}
.testimonilas .contanair .box .content .stars {
    display: flex;
    position: relative;
}
.testimonilas .contanair .box .content .stars span:not(:last-child) {
    background-color: rgba(237, 188, 13, 0.566);
    width: 15px;
    height: 15px;
    margin-left: 5px;
    border-radius: 50%;
    border: 1px solid rgba(237, 188, 13, 0.566);
}
.testimonilas .contanair .box .content .stars span:last-child { 
    border: 1px solid rgba(237, 188, 13, 0.788);
    width: 15px;
    height: 15px;
    margin-left: 5px;
    border-radius: 50%;
}
/* End testimonilas */
/* Start team member */
.team-member { 
    padding-top: var(--main-padding-section);
    padding-bottom: var(--main-padding-section);
    background-color: white;
}
.team-member .contanair { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}
@media (max-width: 991px) { 
    .team-member .contanair {
        flex-direction: column;
    }
}
.team-member .contanair .box {
    position: relative;
    z-index: 1;
}
.team-member .contanair .box::before {
    content: "";
    width: 104%;
    height: 104%;
    position: absolute;
    background-color: rgba(119, 119, 119, 0.715);
    left: 50px;
    z-index: -2;
    top: -10px;
    border-radius: 10%;
}
.team-member .contanair .box::after{
    content: "";
    width: 104%;
    height: 104%;
    position: absolute;
    background-color: var(--main-color);
    left: 50px;
    z-index: -1;
    top: -10px;
    border-radius: 10%;
    display: none;
    transition: var(--main-transition);
}
.team-member .contanair .box:hover::after {
display: block;
}

.team-member .contanair .box .image {
    width: 350px;
    position: relative;
}
.team-member .contanair .box .image::after {
content: "";
width: 100%;
height: 100%;
left: 0;
top:0;
border-radius:10%;
background-color: rgb(98 98 98 / 54%);
position: absolute;
display: none;
}

.team-member .contanair .box:hover .image::after {
    display: block;

}
.team-member .contanair .box .image img {
    max-width: 100%;
    border-radius:10%;
}
.team-member .contanair .box .content {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.team-member .contanair .box .content h4 {
    font-size: 38px;
    color: var(--main-color);
    font-weight: bold;
    line-height: 1.2;
    margin: 0;
}
.team-member .contanair .box .content p {
    font-size: 22px;
    color: #777;
    font-weight: 400;
    line-height: 1.2;
    align-items: center;
}
.team-member .contanair .box .social {
    position: absolute;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    right: -50px;
    top: 167px;
    transform: translateY(-50%);
    margin: 20px auto;
}

.team-member .contanair .box .social a i {
    color: rgb(74, 72, 72);
    font-size: 34px;
    line-height: 1.5;
}
.team-member .contanair .box:hover .social a i,
.team-member .contanair .box:hover .content h4,
.team-member .contanair .box:hover .content p {
    color: black;
}
/* End team member */

/* Start Services */
.services { 
    padding-top: var(--main-padding-section);
    padding-bottom: var(--main-padding-section);
    background-color: var(--section-background);
}
.services .contanair {
    margin: 0 auto;
}
.services .contanair .box-holder {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 40px;
}
.services .contanair .box-holder .box {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 20px;
    box-shadow: -2px 0px 5px 2px #8e8a8a, 2px 0px 5px 2px #898585db;
    -webkit-box-shadow: -2px 0px 5px 2px #8e8a8a, 2px 0px 5px 2px #898585db;
    -moz-box-shadow: -2px 0px 5px 2px #8e8a8a, 2px 0px 5px 2px #898585db;
    position: relative;
    transition: var(--main-transition);
    counter-increment: services;
}
.services .contanair .box-holder .box::before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 5px;
    top: -5px;
    background-color: var(--main-color);
    width: 0;
    transition: var(--main-transition);
}
.services .contanair .box-holder .box:hover::before {
    width: 100%;
}
.services .contanair .box-holder .box:hover { 
    top: -5px;
}

.services .contanair .box-holder .box i {
    color: #d5d5d5;
    font-size: 67px;
}
.services .contanair .box-holder .box h2 {
    line-height: 1.5;
    font-size: 35px;
    color: var(--main-color);
    font-weight: normal;
}
.services .contanair .info { 
    color: var(--main-color);
    position: relative;
    padding: 15px;
    width: 100%;
    text-align: right;
    background-color: var(--section-background);
    height: 100%;
    overflow: hidden;
}

.services .contanair .info::before { 
    content: "0" counter(services);
    font-size: 40px;
    position: absolute;
    left: 0px;
    top: 0;
    background-color: var(--main-color);
    color: white;
    height: 100%;
    width: 84px;
    display: flex;
    align-items: center;
    border-radius: 5%;
    z-index: 2;
}
.services .contanair .info::after {
    content: "";
    width: 50%;
    left: 3%;
    position: absolute;
    background-color: #fffcfc;
    height: 100%;
    top: 0%;
    z-index: 1;
    transform: skewX(291deg);
    
}
.services .contanair .info a { 
    font-size: 23px;
    font-weight: bold;
    color: var(--main-color);
}

/* End Services */
/* Start Skills */
.skills { 
    padding-top: var(--main-padding-section);
    padding-bottom: var(--main-padding-section);
    background-color: white;
    position: relative;
}
.skills .contanair {
    display: flex;
    align-items: center;
}
@media (max-width: 991px) {
    .skills .contanair img { 
        display: none;
    }
}
.skills .contanair .skills { 
    flex: 1;
}
.skills .contanair .skills .skill h3 { 
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.skills .contanair .skills .skill h3 span { 
    font-size: 14px;
    border: 1px solid #7c7c7c;
    padding: 3px 8px;
    border-radius: 10%;
}
.skills .contanair .skills .skill .progress {
    height: 40px;
    background-color: #eee;
    position: relative;
}
.skills .contanair .skills .skill .progress span {
    position: absolute;
    left: 0;
    top: 0;
    background-color: var(--main-color);
    height: 100%;
}
/* End Skills */
/* Start How it works */
.how { 
    padding-top: var(--main-padding-section);
    padding-bottom: var(--main-padding-section);
    background-color: var(--section-background);
    position: relative;
}
.how .contanair {
display: flex;
justify-content: space-around;
align-items: center;
}
@media (max-width: 991px) {
    .how .contanair {
        flex-direction: column;
    } 
}
.how .contanair img.work { 
    max-width: 100%;
    margin-right: 100px;
}

.how .contanair .holder { 
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.how .contanair .holder .box { 
    background-color: rgb(255 255 255 / 83%);
    margin: 10px 0px;
    display: flex;
    padding: 15px 35px;
    position: relative;
    z-index: 1;
}
@media (max-width: 991px) {
    .how .contanair .holder .box { 
        flex-direction: column;
        text-align: center;
    } 
}
.how .contanair .holder .box::before { 
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 0%;
    height: 0;
    transform: translate(-50%, -50%);
    background-color: #d2d2d270;
    transition: calc(var(--main-transition) + 0.3s);
    z-index: -1;
}
.how .contanair .holder .box:hover::before {
    width: 100%;
    height: 100%;
}

.how .contanair .holder .box img { 
    width: 70px;
    margin-right: 40px;
    align-self: center;
}
.how .contanair .holder .box .text { 
    flex: 1;
}
.how .contanair .holder .box .text h3 { 
    margin: 10px 0px 0px;
    color: var(--main-color);
    font-size: 25px;
    font-weight: 700;
}
.how .contanair .holder .box .text p { 
    color: #7b7878;
    line-height: 1;   
}
/* End How it works */
/* Start events */
.events { 
    padding-top: var(--main-padding-section);
    padding-bottom: var(--main-padding-section);
    position: relative;
}
.events .contanair { 
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
@media (max-width: 991px) {
    .events .contanair { 
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
.events img { 
    max-width: 450px;
}
.events .info { 
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
@media (max-width: 991px) {
    .events .info { 
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
.events .info .timing { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px auto;
}
.events .info .timing span {
display: block;
text-align: center;
}
.events .info .timing span:first-child {
    border-bottom: 1px solid var(--main-color);
    width: 100%;
    font-size: 70px;
    letter-spacing: -2px;
    color: var(--main-color);
    font-weight: bold;
}
.events .info .timing span:last-child {
    font-size: 22px;
    text-align: center;
}
.events .info .timing .unit { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--main-color);
    padding: 10px 15px;
    margin: 10px;
}
.events .info .text { 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-items: center;
}
.events .info .text h2 { 
    font-size: 48px;
    font-weight: bold;
    color: var(--main-color);
    margin: 0px 0px 10px;
}
.events .info p { 
    color: #777;
    line-height: 2;
    text-align: center;
    font-weight: bold;
}
.events .sub { 
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
}
.events .sub form { 
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex: 1;
    position: relative;
    border: 50px solid var(--section-background);
}
.events .sub form input:first-child { 
    width: 80%;
    position:absolute;
    left: 0;
    height: 60px;
    background-color: var(--section-background);
    border: none;
}
.events .sub form input:first-child::placeholder { 
    transition: opacity var(--main-transition);
}
.events .sub form input:first-child:focus { 
    background-color: white;
}
.events .sub form input:first-child:focus::placeholder { 
    opacity: 0;
}
.events .sub form input:last-child { 
    width: 20%;
    position:absolute;
    right: 0;
    height: 60px;
    background-color: var(--main-color);
    color: white;
    border-radius: 50%;
    border: none;
}
.events .sub form input:last-child:focus { 
    cursor: pointer;
}
/* End events */
/* Start Footer */
.footer { 
    padding-top: var(--main-padding-section);
    padding-bottom: var(--main-padding-section);
    position: relative;
    background-color: rgb(0, 0, 0);
}
.footer .contanair { 
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 40px;
    margin: 0 auto;
    color: white;
}
.footer .contanair .left h3 { 
    margin: 0 0 30px;
    font-size: 50px;
    font-weight: bold;
    color: white;
    letter-spacing: 2px;
}
.footer .contanair .left h3:hover { 
    color: var(--main-color);
}
.footer .contanair .left .icons { 
    margin: 0 0 30px;
    min-width: 100%;
}
.footer .contanair .left .icons a { 
    color: rgb(255, 230, 230);
}
.footer .contanair .left .icons a:hover { 
    color: var(--main-color);
}
.footer .contanair .left .icons a i.youu:hover { 
    color: red;
}
.footer .contanair .left .icons a i { 
    font-size: 54px;
    margin-right: 60px;
}
.footer .contanair .left p { 
    font-size: 20px;
    font-weight: normal;
    letter-spacing: 0px;
    line-height: 1.5;
    color: #ddd;
}
@media (max-width: 997px) { 
    .footer .contanair .left h3,
    .footer .contanair .left .icons,
    .footer .contanair .left p{
        text-align: center;
    }
}
.footer .contanair .center { 
    display: flex;
}
.footer .contanair .center ul { 
    min-width: 100%;
}
.footer .contanair .center ul li:hover a {
    color: white;
    padding-left: 20px;
}
.footer .contanair .center ul li { 
    margin: 40px auto;
    text-align: center;
}
.footer .contanair .center ul li a { 
    font-size: 20px;
    color: rgb(205, 203, 203);
    transition: var(--main-transition);
    position: relative;
}
.footer .contanair .center ul li a::before { 
    content: "";
    position: absolute;
    left: -30px;
    top: 50%;
    transform: translate(-50%, -50%);
    border-color: transparent transparent transparent var(--main-color);
    border-width: 15px;
    border-style: solid;
    transition: var(--main-transition);
}
.footer .contanair .center ul li a:hover::before { 
    left: -10px;
}
.footer .contanair .right { 
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}
.footer .contanair .right .up {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 60px;
    position: relative;
}
.footer .contanair .right .up i { 
    font-size: 54px;
    color: var(--main-color);
}
.footer .contanair .right .up p { 
    flex: 1 ;
}
/* End Footer */
/* Start Animation */
@keyframes upanddown {
    to {
        margin-top: 100px;
    }
}
@keyframes nowdown {
    to {
        bottom: 90px;
    }
}
@keyframes left-move {
    0% {
        left: -30px;
        width: 12px;
        height: 12px;
    }
    50% {
        left: 0;
        width: 12px;
        height: 12px;
    }
    100% {
        border-radius: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}
@keyframes right-move {
    0% {
        right: -30px;
        width: 12px;
        height: 12px;
    }
    50% {
        right: 0;
        width: 12px;
        height: 12px;
    }
    100% {
        border-radius: 0;
        right: 0;
        width: 100%;
        height: 100%;
    }
}
@keyframes moving-arrow { 
    100%{ 
        transform: translateX(-20px);
    }
}
@keyframes flashing {
    0%, 40% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        width: 200%;
        height: 200%;
    }
}
/* End Animation */